/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Allura */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
/* 
@font-face {
    font-family: Hello_Radea;
    src: url(/resources/font/Hello\ Radea.otf);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--jost);
}

:root {
    --white: #f6f7ff;
    --dirty-white: #f0f1ff;
    --egg-white: #f5f5f5;
    --black: #000;
    --dark-gray: #4e4949;
    --light-gray: #b1a8a8;
    --gray: #7a7373;
    --pink: #fca5f1;
    --purple: #cdb5ff;


    --gradient: linear-gradient(45deg, #fca5f1, #cdb5ff);

    --facebook: #0864ff;
    --linkedin: #0d64c5;
    --instagram: linear-gradient(45deg, #fcb458 15%, #ed6043 25%, #f2203e 45%, #cd337f 60%, #8943b5 80%, #5b4dd2 100%);
    --twitter: #01a2f5;

    --poppins: 'Poppins', serif;
    --jost: 'Jost', sans-serif;
    --allura: 'Allura', serif;
    /* --radea: 'Hello_Radea', serif; */

}

html {
    font-size: 90%;
}

body {
    /* font-family: 'Poppins', serif; */
    color: var(--black);
    width: 100vw;
    height: fit-content;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: var(--white);
    font-family: var(--jost);
    border: 1px solid blue;
    /* overflow-x: hidden; */

}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}

header {
    min-height: auto;
    width: 100vw;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    /* background-image: var(--gradient); */
    /* border: 1px solid yellow; */
}


.checkBtn {
    font-size: 1.8rem;
    color: var(--text);
    line-height: 0.25rem;
    /* float: right; */
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.close-icon {
    display: none;
}

.logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo button {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.logo P {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav {
    z-index: 1000;
}

.nav ul {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
    padding: 1.2rem 0;
    /* border: 1px solid blue; */
}

.nav ul li button {
    border: none;
    background: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    position: relative;
    /* border: 1px solid blue; */

}

.nav ul li button::after {
    content: '';
    width: 0%;
    height: 0.15rem;
    background-image: linear-gradient(45deg, var(--pink), var(--purple));
    position: absolute;
    left: 0;
    bottom: 0.7rem;
    transition: 0.5s;
}

nav ul li button:hover::after,
nav ul li button.active::after {
    width: 100%;
}

.nav ul li:hover:not(:last-child) {
    color: var(--gray);
    transition: 0.3s;
}


/* .contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background:   var(--button-gradient);
    box-shadow: 0 4px 8px 0 rgba(243, 4, 151, 0.2),
                0 6px 20px 0 rgba(243, 4, 151, 0.19),
                0 8px 24px 0 rgba(243, 4, 151, 0.10);
    cursor: pointer;
} */

.nav ul li {
    /* border: 1px solid yellow; */
}


.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10rem;
    gap: 1rem;
    /* border: 1px solid yellow; */
}

.socials-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.socials .socials-div a:hover {
    background-image: var(--gradient);
    transition: 0.4s;
}

.socials-div a {
    text-decoration: none;
    color: var(--black);
}

.socials a i {
    font-size: 2rem;
    text-shadow: 0 4px 8px 0 rgba(243, 4, 151, 0.2),
        0 6px 20px 0 rgba(243, 4, 151, 0.19),
        0 8px 24px 0 rgba(243, 4, 151, 0.10);
    cursor: pointer;
    /* border: 1px solid blue; */
}

.socials .socials-div:hover a i {
    font-size: 1.7rem;
    color: white;

}

/* ------------------ MAIN ----------------- */

.container {
    width: 100%;
    height: fit-content;
    /* border: 1px solid blue; */
    position: relative;
}


.background {
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 9;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.small {
    width: clamp(2rem, 4.5rem, 5rem);
    height: clamp(2rem, 4.5rem, 5rem);
    top: 0;
    left: 0;
    transform: translate(200%, 300%);
    background-image: linear-gradient(135deg, var(--purple), var(--pink));
}

.large {
    width: clamp(6rem, 28rem, 45rem);
    height: clamp(6rem, 28rem, 45rem);
    top: 0;
    bottom: 0;
    transform: translate(-15%, 80%);
    background-image: linear-gradient(195deg, var(--purple), var(--pink));
}

.main-tab {
    width: inherit;
    height: inherit;
    /* border: 1px solid blue; */

}

.tabcontent {
    display: grid;
    place-items: center;
    /* width: 100vw; */
}


.main-page {
    width: 100%;
    height: fit-content;
    padding: 2rem 12% 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    /* border: 1px solid blue; */
}

.section {
    width: 100%;
    padding: 6% 12%;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);

    /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.50),
        0 6px 8px 0 rgba(0, 0, 0, 0.40),
        0 8px 10px 0 rgba(0, 0, 0, 0.35); */
}

.main-page-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: auto;
    align-items: left;
    /* border: 1px solid blue; */
}

.main-page-text h1 {
    font-size: 12rem;
    font-family: var(--allura);
    line-height: 8rem;
    /* font-weight: 300; */
}

.main-page-text h4 {
    font-size: 2.12rem;
    font-weight: 300;
    color: var(--dark-gray);
    line-height: 3rem;
}

.main-page-text p {
    font-size: 1.45rem;
    font-family: var(--poppins);
    font-weight: 200;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 0;
}

.main-page img {
    width: 34.35rem;
    /* border: 1px solid blue; */
}


/* ------------- LANDING PAGE ------------- */
#ghomepage {
    width: 100vw;
    height: fit-content;
}
.tech-section {
    width: 100vw;
    max-width: 1600px;
    padding: 1.5% 12%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--dirty-white);
}
.tech-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}
.tech-container i {
    font-size: 5rem;
    color: var(--gray);
}

.html:hover i { 
    color: #E34F26; 
}
.css:hover i { 
    color: #1572B6;
}       
.tailwind:hover i { 
    color: #38B2AC; 
} 
.javascript:hover i { 
    color: #F7DF1E; 
}
.go:hover i { 
    color: #00ADD8; 
}        
.figma:hover i { 
    color: #F24E1E; 
}     
.vscode:hover i { 
    color: #007ACC; 
}    
.git:hover i { 
    color: #F05032; 
}       
.github:hover i { 
    color: #181717; 
}   


/* ---------------- ABOUT ----------- */



.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.education-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 0.5px solid rgba(160, 160, 160, 0.5);
}
.education-text h1 {
    font-weight: 300;
    font-size: 3rem;
}
.education-text h3 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 1rem;

}
.education-text h4 {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    
}
.education-text p {
    font-weight: 300;
    font-size: 1.1rem;
    font-family: var(--poppins);
}
.education-photo-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.education-text {
    width: 50%;
}


.education-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-top: 2rem;
    /* border: 1px solid blue; */
}
.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    /* border: 1px solid orangered; */
}


.education-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 15px;
    background: var(--egg-white);
    box-shadow: 0 2px 4px 0 rgba(211, 211, 211, 0.30),
        0 2px 6px 0 rgba(200, 200, 200, 0.25),
        0 3px 8px 0 rgba(200, 200, 200, 0.15);
}
.education-photo:hover {
    box-shadow: 0 2px 6px 0 rgba(211, 211, 211, 0.30),
        0 3px 8px 0 rgba(170, 170, 170, 0.25),
        0 4px 10px 0 rgba(170, 170, 170, 0.45);
    transition: 0.5s;
}
.education-photo img{
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
}

/* --------------- PORTFOLIO ------------------ */
#portfolio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-container {
    max-width: 1600px;
}

.portfolio-sec h4 {
    padding-top: 6rem;
}

.portfolio-sec p {
    padding-top: 0.8rem;
}

.featured-works {
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background: var(--dirty-white);
    /* border: 1px solid blue; */
}

.featured-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-width: fit-content;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    background: var(--white);
    padding: 1rem;

    /* gap: 0.5rem; */
    box-shadow: 0 2px 4px 0 rgba(211, 211, 211, 0.30),
        0 2px 6px 0 rgba(200, 200, 200, 0.25),
        0 3px 8px 0 rgba(200, 200, 200, 0.15);
    cursor: pointer;
}

.featured-card:hover {
    box-shadow: 0 2px 6px 0 rgba(211, 211, 211, 0.30),
        0 3px 8px 0 rgba(170, 170, 170, 0.25),
        0 4px 10px 0 rgba(170, 170, 170, 0.45);
    transition: 0.5s;
}

.featured-photo img {
    border-radius: 10px;
    width: 100%;

}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.8rem; */
    /* border: 1px solid blue; */
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orangered;
    width: 100%;
    height: 100%;
}

.link-icon {
    font-size: 1.5rem;
    color: var(--light-gray);
    padding-right: 1rem;
    transform: translateY(0.5rem);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
}
.featured-card:hover .link-icon {
    opacity: 0.9;
}



.featured-details {
    padding-left: 1rem;
}

.featured-details h4 {
    font-weight: 300;
    font-size: 1.3rem;
    text-align: left;
}

.featured-details p {
    color: var(--gray);
    font-size: 1rem;
    font-family: var(--poppins);
}

.featured-techs {
    display: flex;
    margin-top: 0.25rem;
    gap: 0.5rem;
}

/* ---------------- CONTACT ------------------- */
.contact-section {
    justify-content: space-between;
    width: 100vw;
    max-width: 1600px;
}
.contact-sec {
    width: 50%;
    justify-content: space-between;
}

.contact-section img {

}

.contacts {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    margin-top: 4.5rem;
    /* border: 1px solid orange; */
}

.socials-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 0;
    gap: 1rem;
    /* border: 1px solid blue; */
}

.socials-part .socials-div {
    display: flex;
    justify-content: left;
    align-items: left;
}

.socials-part .socials-div a {
    gap: 1.5rem;
    width: unset;
    height: unset;
    border-radius: 0;
    padding: 0;
    /* border: 1px solid blue; */
}
.socials-part .socials-div a:hover {
    opacity: 0.7;
}

.socials-div a .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.socials-part .socials-div a p {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0;
}

.twitter {
    background: var(--twitter);
}

.facebook {
    background: var(--facebook);
}

.linkedin {
    background: var(--linkedin);
}

.instagram {
    background-image: var(--instagram);
}

.twitter-text {
    color: var(--twitter);
}

.facebook-text {
    color: var(--facebook);
}

.linkedin-text {
    color: var(--linkedin);
}

.instagram-text {
    background: var(--instagram);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.email-sec {
    background: var(--dirty-white);
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: fit-content;
    gap: 3rem;
    /* border: 1px solid blue; */
}
.form-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 50%;
    /* border: 1px solid orange; */

}
.form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* border: 1px solid orange; */
}
.form-right textarea {
    width: 100%;
}
form h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
}
.form-left label,
.form-right label {
    font-size: 1.05rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0.35rem;
    font-weight: 300;
    font-family: var(--poppins);
}
.email-label {
    /* margin-top: -0.5rem; */
}
.form-left input {
    height: 3.25rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.form-right textarea {
    height: 15.6rem;
    border-radius: 10px;
}
form input,
form textarea {
    padding: 0.5rem 1.1rem;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    font-family: var(--poppins);
    font-weight: 300;
    color: rgba(50, 50, 50, 1);
    border: 0.5px solid rgba(100, 100, 100, 0.8);
}
form textarea {
    padding: 0.8rem 1.1rem;

}
.button-container {
    display: flex;
    justify-content: flex-end;
}
form button {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--egg-white);
    background: #222121;
    border-radius: 10px;
    width: fit-content;
    align-self: right;
    cursor: pointer;
    font-family: var(--poppins);
}
form button:hover {
    background: var(--dark-gray);
    color: #fff;
    border-color: var(--dark-gray);
    transition: all 0.2s ease-in;
}

.error-notice {
    display: none;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    font-family: var(--poppins);
    font-size: 0.9rem;
    color: rgb(199, 79, 79);
}

.email-status {
    visibility: hidden;
    width: 100%;
    height: fit-content;
    margin-top: 1.8rem;
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(69, 148, 69, 0.795);
    background: rgb(212, 247, 212);

}
#responseMessage {
    font-size: 1rem;
    font-family: var(--poppins);
    padding: 1rem;
    color: rgba(69, 148, 69, 0.795);
    /* width: 100%; */
    text-align: center;

}


/* -------------- FOOTER -------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 1.2rem;
    padding: 2.5% 12%;
    background: var(--dirty-white);
    color: var(--gray);
    font-family: var(--poppins);
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);

}

.footer-container {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    font-weight: 300;
    gap: 0.5rem;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 2rem;
    list-style: none;
}

.footer-nav ul li button {
    font-size: 1.2rem;
    font-weight: 300;
    background: none;
    border: none;
    color: var(--gray);
    text-transform: lowercase;
    cursor: pointer;
}

/* --------------- ALL ---------------------- */


/* ------------ BREAKPOINTS --------------- */

@media (max-width: 1536px) {
    nav ul {
        gap: 10px;
    }

    .footer-container {
        /* padding: 0 8%; */

    }
}

@media (max-width: 1280px) {
    body {
        /* padding: 0 6rem; */
    }

    .logo p {
        display: none;
    }

    .nav ul {
        gap: 1px;
    }

    nav ul li button:hover::after,
    nav ul li button.active::after {
        width: 100%;
    }

    header,
    .main-page,
    .contact-section,
    footer {
        padding-left: 8%;
        padding-right: 8%;
    }

    .main-page-text h1 {
        line-height: 6.5rem;
    }

    .portfolio-sec h1 {
        font-size: 10rem;
    }
}

@media (max-width: 1024px) {

    header,
    footer {
        padding: 3% 6%;
    }

    .logo p {
        display: flex;
    }

    .checkBtn {
        display: block;
        font-size: 2rem;
        z-index: 2000;
    }

    .checkBtn .close-icon {
        display: none;
    }

    .nav ul {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: var(--dirty-white);
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }

    .nav.active ul {
        right: 0;
    }

    .nav ul li {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 600;
        padding: 2rem 0;
        font-size: 1.2rem;
    }

    .nav ul li:not(.socials):hover {
        background: rgba(15, 15, 15, 0.2);
        color: var(--txt-hover);
    }

    nav ul li button:hover::after,
    nav ul li button.active::after {
        width: 0%;
    }

    nav ul li button {
        outline: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }


    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .twitter-nav {
        color: var(--twitter);
    }

    .facebook-nav {
        color: var(--facebook);
    }

    .linkedin-nav {
        color: var(--linkedin);
    }

    .instagram-nav {
        background: var(--instagram);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .main-page,
    .contact-section {
        padding-top: 12%;
        padding-left: 15%;
        padding-right: 15%;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .main-page-text {
        width: 100%;

    }

    .main-page-text h1 {
        font-size: 8.5rem;
        line-height: 3.5rem;
        /* border: 1px solid blue; */
    }

    .main-page-text h4 {
        font-size: 1.7rem;
        line-height: 2rem;
        padding-top: 1rem;
    }

    .main-page-text p {
        padding-top: 1rem;
        font-size: 1.2rem;
    }

    .main-page img {
        width: 100%;
    }


    .portfolio-sec h1 {
        margin-bottom: 4rem;
    }
    
    .education-bottom {
        flex-direction: column;
    }
}



@media (max-width: 768px) {

    .main-page,
    .contact-section {
        padding-top: 20%;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    footer {
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .footer-nav {
        display: none;

    }

    .copyright {
        width: 100%;
        justify-content: center;
        font-size: 1rem;
    }
    .photos,
    .education-bottom {
        gap: 0.5rem;
    }
    .education-top {
        gap: 2rem;
        flex-direction: column;
    }
    .education-text {
        width: 100%;
    }
    .email-sec {
        width: 100vw;
    }
    .form-container {
        flex-wrap: wrap;
        width: 100%;
        gap: 0.8rem;
    }
    .form-left,
    .form-right {
        width: 100%;
    }
    form input,
    form textarea {
        width: 100%;
    }
    form h1 {
        margin-top: 2rem;
    }
    .button-container {
        justify-content: flex-start;
    }
    form button {
        margin-top: 1.5rem;
    }
}

@media (max-width: 640px) {
    body {
        /* padding: 0 3rem; */
    }

    .logo p {
        display: none;
    }

    footer {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .education-photo {
        padding: 0.25;
        border-radius: 10px;
    }
    .education-photo img {
        border-radius: 8px;
    }
}

@media (max-width: 475px) {
    body {
        /* padding: 0 2rem; */
    }

    .contact-section {
        gap: 2rem;
    }

    .main-page-text h1 {
        font-size: 7.5rem;
    }

    .main-page,
    .contact-section {
        padding: 20% 8% 0 8%;
    }

    .portfolio-sec h1 {
        font-size: 7rem;
        padding-bottom: 1rem;
    }

    .contacts {
        /* transform: scale(0.9); */
        justify-content: left;
        margin-top: 2.2rem;
        gap: 1.5rem;
    }

    .socials-part .socials-div a {
        gap: 0.5rem;
    }

    .contacts .socials-part .socials-div a .icon {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.2rem;
    }

    footer {
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .education-bottom,
    .photos {
        gap: 0.2rem;
    }
    .education-photo {
        padding: 0.25rem;
    }
    .education-text h1 {
        font-size: 2.15rem;
    }
    form h1 {
        font-size: 2rem;
    }
    .email-status {
        margin-top: 3rem;
    }
}

@media (max-width: 360px) {
    body {
        /* padding: 0 1.5rem; */
    }

    .logo p {
        display: none;
    }

    .portfolio-sec h1 {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .featured-works {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .featured-card {
        width: 100%;
    }

    /* .contact-sec {
        padding-top: 1%;
    } */
    .contacts {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .contact-sec h1 {
        font-size: 5rem;
    }

    .contact-sec h4 {
        font-size: 1.3rem;
        padding: 0;
    }

    .contacts .socials-part .socials-div a .icon {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }
    .education-bottom{
        flex-direction: row;
    }
    .photos {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    form button {
        width: 100%;
    }
    .email-status {
        margin-top: 5rem;
    }
}